#root {
  max-width: 100%;
  margin: 0 auto;
}

body{
  font-size: 16px;
}

.nav-flex{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  z-index: 999;
  padding: 1.5rem 8rem;
  width: 100%;
}
.nav{
  display: flex;
  flex-direction: row;
  gap: 3.125em;
  cursor: pointer;
  letter-spacing: 0.03125em;
  list-style: none;
  
}
.nav a{
  color: #ffffff;
  text-decoration: none;
}
.nav a li{
  font-size: 1.125em;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
}
.nav a li:hover{
  color: #ffffff;
}
.nav a li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.125em;
  bottom: 0;
  left: 0;
  background-color: rgba(253, 89, 0, 1);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.nav a li:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.li-dec:hover {
  text-decoration: none;
  color: #EEEEEE;
}
    
/***************/
.who-flex{
  height: 40.625em;
  display: flex;
  align-items: center;
}
.img-who{
  width: 35em;
  height: auto;
}
.us-title{
    color: #444444;
    font-weight: 700;
    padding: 0.625em;
    font-size: 2.75em;
    font-family: 'Arvo', serif;
}
.hr-grey {
  opacity: 0.1;
}

.us-p {
  font-size: 1em;
  padding: 0.625em;
  font-family: 'Poppins', sans-serif;
  opacity: 0.8;
  line-height: 2;
  width: 36.875em;
}
.menu-title{
  color: rgb(68, 68, 68);
  font-weight: 700;
  font-size: 2.75em;
  font-family: Arvo, serif;
  text-transform: uppercase;
  text-align: center;
}
.brg-img , .ice-img{
  height: auto;
  opacity: 0.80;
  backdrop-filter: blur(0px);
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
.size-brg{
  width: 16.25em;
}
.width-brg-img{
  width: 440px;
}
.texto-modal{
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  line-height: 1.8;
  width: 520px;
}
.flex-texto-modal{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
.ice-img{
  width: 19.375em;
}
.width-ice-img{
  width: 440px;
}
.brg-img:hover, .ice-img:hover{
  opacity: 1;
  backdrop-filter: none;
  transform: scale(1.05);
}
.flex-brg{
  display: flex;
  flex-wrap: wrap;
  gap: 2.5em;
  align-items: center;
  justify-content: center;
  padding-top: 2em;
}
.flxbx-brg{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-header{
  padding: 15px 60px;
}

.brg-title,
.ice-title {
  color: rgb(68, 68, 68);
  font-weight: 700 !important;
  font-size: 1.375em !important;
  text-align: center;
  margin-bottom: 1.5rem;
  font-family: Arvo, serif !important;
  text-transform: uppercase !important;
}
.brg-title-modal , .ice-title-modal{
  margin-bottom: 1.5rem !important;
  font-family: Arvo, serif !important;
  text-transform: uppercase !important;
  color: #c29203;
  font-weight: 700 !important;
  font-size: 2.875em !important;
}

.gap-bx{
  
  display:flex;
  justify-content: center;
  flex-direction: column;
}
.gap-bx-postre{
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/*********************/
.cont-suc{
  height: 43.75em;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.suc-title{
  color: #444444;
  font-weight: 700;
  font-size: 2.75em;
  font-family: 'Arvo', serif;
  text-align: center;
  margin-bottom: 0.625em;
}
.suc-dir{
  color: #444444;
  font-weight: 700;
  font-size: 1em;
  margin-bottom: 1.5625em;
  font-family: 'Arvo', serif;
  cursor: pointer;
  text-transform: uppercase;
} 
.suc-dir-active{
  color: #F2B705;
  font-weight: 700;
  font-size: 1em;
  margin-bottom: 1.5625em;
  font-family: 'Arvo', serif;
  cursor: pointer;
  text-transform: uppercase;
}

.flex-1545{
  display: flex;
  flex-direction: row;
  gap: 2.1875em;
}
.suc-flex{
  padding: 1.5625em;
}
.info-flex{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2.1875em;
}
.info-flex1406{
  display: flex;
  align-items: center;
}
.subtitle{
  color: #444444;
  font-weight: 700;
  font-size: 1.25em;
  margin-bottom: 0.5em;
  font-family: 'Arvo', serif;
  text-transform: uppercase;
}
.inf752{
  display: flex;
  flex-direction: row;
  gap: 1.5625em;
  align-items: flex-start;
}
/**************************/
.cont-contact{
  height: 37.5em;
  display: flex;
  justify-content: center;
  align-items: center;  flex-direction: column;
  gap: 3.125em;
}
.cont-title{
  color: #444444;
  font-weight: 700;
  font-size: 2.75em;
  font-family: 'Arvo', serif;
}

.form-floating{
  width: 25em;
}
/***************************/
.cont-footer{
  height: 5em;
  background-color: #444444;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-flex{
  display: flex;
  flex-direction: row;
  gap: 2.1875em;
}
.a-social{
  text-decoration: none;
  
}
.hover-social:hover{
  color: #F2B705;
  transition: ease-in .2s;
}
.Modal-flex-img{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.Modal-text{
  text-align: center;
}
.modal-footer{
  justify-content: center !important;
}