#root {
  margin: 0 auto;
}

body {
  font-size: 16px;
}

.nav-flex{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  z-index: 999;
  padding: 24px 128px;
  width: 100%;
}
.nav{
  display: flex;
  flex-direction: row;
  gap: 3.125em;
  cursor: pointer;
  letter-spacing: 0.03125em;
  list-style: none;
  
}
.nav a{
  color: #ffffff;
  text-decoration: none;
}
.nav a li{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
}
.nav a li:hover{
  color: #ffffff;
}
.nav a li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.125em;
  bottom: 0;
  left: 0;
  background-color: rgba(253, 89, 0, 1);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.nav a li:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.li-dec:hover {
  text-decoration: none;
  color: #EEEEEE;
}
    
/***************/
.who-flex{
  display: flex;
  align-items: center;
}
.us-title{
    color: #444444;
    font-weight: 700;
    font-family: 'Arvo', serif;
}
.img-who{
  width: 80%;
}
.hr-grey {
  opacity: 0.1;
}
.us-p {
  padding: 0.625em;
  font-family: 'Poppins', sans-serif;
  opacity: 0.8;
  line-height: 2;
}
.menu-title{
  color: rgb(68, 68, 68);
  font-weight: 700;
  font-size: 2.75em;
  font-family: Arvo, serif;
  text-transform: uppercase;
  text-align: center;
}
.brg-img , .ice-img{
  height: auto;
  opacity: 0.80;
  backdrop-filter: blur(0px);
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
.size-brg{
  width: 16.25em;
}
.texto-modal{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  line-height: 1.8;
}
.flex-texto-modal{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
.ice-img{
  width: 19.375em;
}
.width-ice-img{
  width: 440px;
}
.brg-img:hover, .ice-img:hover{
  opacity: 1;
  backdrop-filter: none;
  transform: scale(1.05);
}
.flex-brg{
  display: flex;
  flex-wrap: wrap;
  gap: 2.5em;
  align-items: center;
  justify-content: center;
  padding-top: 2em;
}
.flxbx-brg{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-header{
  padding: 15px 60px;
}

.brg-title,
.ice-title {
  color: rgb(68, 68, 68);
  font-weight: 700 !important;
  text-align: center;
  margin-bottom: 1.5rem;
  font-family: Arvo, serif !important;
  text-transform: uppercase !important;
}
.brg-title-modal , .ice-title-modal{
  margin-bottom: 1.5rem !important;
  font-family: Arvo, serif !important;
  text-transform: uppercase !important;
  color: #c29203;
  font-weight: 700 !important;
  font-size: 2.875em !important;
}

.gap-bx{
  display:flex;
  justify-content: center;
  flex-direction: column;
}
.gap-bx-postre{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
/*********************/
.cont-suc{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.suc-title{
  color: #444444;
  font-weight: 700;
  font-size: 2.75em;
  font-family: 'Arvo', serif;
  text-align: center;
  margin-bottom: 0.625em;
}
.suc-dir{
  color: #444444;
  font-weight: 700;
  margin-bottom: 1.5625em;
  font-family: 'Arvo', serif;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #ffd27761;
  border-radius: 25px;
} 

.flex-1545{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.suc-flex{
  padding: 1.5625em;
}
.info-flex{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2.1875em;
}
.info-flex1406{
  display: flex;
  align-items: center;
  justify-content: center;
}
.subtitle{
  color: #444444;
  font-weight: 700;
  margin-bottom: 0.5em;
  font-family: 'Arvo', serif;
  text-transform: uppercase;
}
.par-info{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #444444;
}
.inf752{
  display: flex;
  flex-direction: row;
  gap: 1.5625em;
  align-items: flex-start;
}
/**************************/
.cont-contact{
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
}
.cont-title{
  color: #444444;
  font-weight: 700;
  font-family: 'Arvo', serif;
}

.form-floating{
  width: 25em;
}
/***************************/
.cont-footer{
  height: 5em;
  background-color: #444444;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-flex{
  display: flex;
  flex-direction: row;
  gap: 2.1875em;
}
.a-social{
  text-decoration: none;
}
.hover-social:hover{
  color: #F2B705;
  transition: ease-in .2s;
}
.Modal-flex-img{
  display: flex;
  flex-direction: column;
  align-items: center;  
}
.modal-body{
  display:flex;
  align-items: center;
}
.Modal-text{
  text-align: center;
}
.modal-footer{
  justify-content: center !important;
}
.justify-content-center{
  display: flex;
  justify-content: center;
}

/* X-Small */
@media (width <= 575px) {
  /* Estilos para pantallas menores a 576px */
  .wdt-logo{
    width:45px;
  }
  .nav a li {
    display: none;
  }
  .nav-flex{
    padding: 24px 50px;
  }
  .who-flex{
    height: 540px !important;
    align-content: space-evenly;
    padding:30px;
  }
  .cnt-img{
    display: flex;
    justify-content: center;
  }
  .img-who {
    width: 100%;
    height: auto;
  }
  .us-p {
    font-size: 8px !important;
    width: 80% !important;
  }
  .flex-1545{
    justify-content: center;
    gap: 15px;
  }
   
  .us-title, .menu-title, .suc-title, .cont-title{
    font-size: 20px !important;
  }
  .gap-bx-postre {
    height: 380px;
}
  .suc-dir{
    font-size: 8px;
    padding: 8px;
  }
  .suc-flex{
    padding: 0;
    gap:80px;
  }
  .cont-contact{
    height: 550px;
    gap:32px;
  }
  .cont-suc{
  height: 650px;
}
.par-info{
  font-size: 12px;
}
.subtitle{
  font-size: 11px !important;
}

.brg-title, .ice-title{
  font-size: 7px !important;
}
.size-brg, .ice-img{
  width: 85px;
}
/**Modal*/

.width-brg-img, .width-ice-img{
  width: 200px;
}
.brg-title-modal, .ice-title-modal {
  font-size: 28px !important;
}
.texto-modal {
  font-size: 14px;
  width: 300px;
}
.fa-2x {
    font-size: 1.2em;
}
.fa-3x {
  font-size: 2em;
  padding: 0;
}
.form-floating{
  width: 300px;
}


/**iframe**/
iframe {
  width: 100%;
  height:200px;
}

.inf752{
  gap:10px;
}
}

/* Small */
@media (576px <= width < 767px ) {
  /* Estilos para pantallas de 576px o más */
  .nav a li {
    display: none;
  }
  
  .nav-flex{
    padding: 24px 50px;
  }
  .who-flex{
    height: 900px !important;
    align-content: space-evenly;
  }
  .img-who {
    width: 550px;
    height: auto;
  }
  .us-p {
    font-size: 11px !important;
    width: 415px !important;
  }
   
  .us-title, .menu-title, .suc-title, .cont-title{
    font-size: 35px !important;
  }
  .gap-bx-postre {
    height: 650px;
}
  .suc-dir{
    font-size: 12px;
    padding: 12px;
  }
  .suc-flex{
    padding: 0;
    gap:80px;
  }
  .cont-contact{
    height: 600px;
    gap:32px;
  }
  .cont-suc{
  height: 950px;
}
.par-info{
  font-size: 15px;
}
.subtitle{
  font-size: 12px !important;
}
.who-flex{
  height: 1200px;
}
.brg-title, .ice-title{
  font-size: 12px !important;
}
.size-brg, .ice-img{
  width: 140px;
}
/**Modal*/

.width-brg-img, .width-ice-img{
  width:200px;
}
.brg-title-modal, .ice-title-modal {
  font-size: 28px !important;
}
.texto-modal {
  font-size: 14px;
  width: 300px;
}

/**iframe**/
iframe {
  width: 520px;
  height:300px;
}
}

/* Medium */
@media (768px <= width < 991px) {
  /* Estilos para pantallas de 768px o más */
  .nav a li{
    font-size: 16px;
  }
  .nav-flex{
    padding: 24px 50px;
  }
  .who-flex{
    height: 1000px;
    align-content: space-evenly;
  }
  .us-p{
    font-size: 16px;
    width: 590px;
  }
  .us-title{
    font-size: 47px;
  }
  .gap-bx-postre {
    height: 800px;
}
  .suc-dir{
    font-size: 17px;
    padding: 12px;
  }
  .suc-flex{
    padding: 0;
    gap:80px;
  }
  .cont-contact{
    height: 600px;
    gap:32px;
  }
  .cont-suc{
  height: 950px;
}
.par-info{
  font-size: 18px;
}
.us-p{
  font-size: 18px;
  width: 660px;
}
.img-who{
  width: 100%;
}
.who-flex{
  height: 1200px;
}
/**Modal*/

.width-brg-img, .width-ice-img{
  width:240px;
}
.brg-title-modal, .ice-title-modal {
  font-size: 30px !important;
}
.texto-modal {
  font-size: 16px;
  width: 300px;
}
.ice-img{
  width:200px;
}
.ice-title{
  font-size: 17px !important;
}
}

/* Large */
@media (992px <= width < 1199px) {
  /* Estilos para pantallas de 992px o más */
  .nav-flex{
    padding: 24px 60px;
  }
  .who-flex{
  height: 570px;
}
.us-title{
  font-size: 40px;
}
.us-p {
  font-size: 12px;
  width: 444px;
}
.gap-bx-postre {
  height: 1400px;
}
.cont-suc{
  height: 1000px;
}
.flex-1545{
  gap: 18px;
  width: 700px;
  justify-content: space-between;
}
.flx-cnt{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.suc-flex{
  padding: 0;
  gap:100px;
}
.suc-dir{
  font-size: 17px;
  padding: 12px;
}
.par-info{
  font-size: 20px;
}  
.cont-contact{
  height: 700px;
  gap:32px;
}
.nav a li{
  font-size: 18px;
}
.width-brg-img {
    width: 320px;
}
.ice-img{
  width: 250px;
}
.ice-title{
  font-size: 20px !important;
}
.gap-bx-postre{
  height: 900px;
}
/**Modal*/
.width-brg-img, .width-ice-img { 
  width:260px;
}
.brg-title-modal, .ice-title-modal {
  font-size: 32px !important;
}
.texto-modal{
  font-size: 18px;
  width: 328px;
}  
}

/* Extra large */
@media (1200px <= width < 1399px) {
  /* Estilos para pantallas de 1200px o más */
  .who-flex{
    height: 570px;
  }
  .us-title{
    font-size: 45px;
  }
  .us-p{
    font-size: 15px;
    width: 555px;
  }
  .gap-bx-postre {
  height: 889px;
}
.cont-suc{
  height: 1000px;
}
.flex-1545{
  gap: 18px;
  width: 700px;
}
.flx-cnt{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.suc-flex{
  padding: 0;
  gap:100px;
}
.suc-dir{
  font-size: 17px;
  padding: 12px;
}
.par-info{
  font-size: 18px;
}  
.cont-contact{
  height: 700px;
  gap:32px;
}
.nav a li{
  font-size: 20px;
}
.nav-flex{
 padding: 24px 100px;
}
/**Modal*/
.width-brg-img, .width-ice-img { 
  width:280px;
}
.brg-title-modal, .ice-title-modal {
  font-size: 34px !important;
}
.texto-modal{
  font-size: 20px;
  width: 380px;
}
}
@media (width >= 1400px){
  /* Estilos para pantallas de 1400px o más */
  .who-flex{
    height: 570px;
  }
  .us-title, .cont-title, .suc-title, .menu-title{
    font-size: 47px;
  }
  .us-p{
    font-size: 16px;
    width: 585px;
  }
  .suc-dir{
    font-size: 17px;
    padding: 12px;
  }
  .par-info{
    font-size: 20px;
  }  
  .cont-contact{
    height: 700px;
    gap:32px;
  }
  .gap-bx-postre{
    height: 900px;
  }
  .flex-1545{
    gap:24px;
    width: 710px;
  }
  .nav a li{
    font-size: 20px;
  }
  /**Modal*/
.width-brg-img, .width-ice-img { 
  width:300px;
}
.brg-title-modal, .ice-title-modal {
  font-size: 35px !important;
}
.texto-modal{
  font-size: 22px;
  width: 400px;
}
}

